.git
.cache
.vscode
.devcontainer
builds
config
database
documents
done 
engine
node_modules
public/node_modules 
public/src
public/.cache
*.bleve
.gitattributes
.gitignore
database.txt
go.mod 
go.sum 
*.db 
*.log
package.json
yarn.lock