ingress
goEDMSBuilds
simpleEDMSIndex.bleve
temp
documents
done
goEDMS.db
public/node_modules
public/dist
dist
public/built/frontend-config.*
database.txt
goEDMS.db.lock
.devcontainer
.vscode
notes.txt
databases
staging
